body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
}
.header {
    background-color: #287265;
    height: 80px;
    margin: 10px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
ul li a {
    color: #fff;
    letter-spacing: 0.1rem;
}
ul li a:hover {
color: #ffd358;
text-decoration: underline;
}
.Menu li {
    float: left;
    padding: 35px;

}
.Menu li a {
    text-decoration: none;
}
form {
    padding: 35px;
    text-align: right;
}
input[type="search"] {
    font-size: 17px;
}

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}
.Contenu.footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: centre;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}
.bloc {
    width: 25%;
    margin: 0 30px;
}
.footer
img {
    width: 20px;
}